{{#each beers}}
<p>Name: {{this.name}}</p>
<img src="{{this.image_url}}">
<p>Description: {{this.description}}</p>
<p>Tagline: {{this.tagline}}</p>
<p>Food pairing: {{this.food_pairing}}</p>
<p>Tips: {{this.brewers_tips}}</p>

{{/each}}





